.contacts-reference {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--faq-nav);
  padding-top: 90px;
  padding-bottom: 90px;
}

.contacts-reference_container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  color: var(--hero-white);
  font-family: Rajdhani, sans-serif;
}

.contacts-reference__article {
  .contacts-reference__article-title {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    line-height: 1.6;
  }

  .contacts-reference__article-body {
    font-family: Ubuntu, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.35;
  }
}

.contacts-reference__link {
  background-color: var(--subtitle-color-services);
  color: var(--hero-white);
  padding: 15px 30px;
  border-radius: 6px;
  margin-left: 15px;

  .contacts-reference__link-text {
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-align: center;
  }
}

.contacts-reference__link:hover {
  background-color: var(--hero-green);
}

@media (min-width: 768px) {
  .contacts-reference_container {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    align-items: center;
  }
}
