.contacts-reference {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--faq-nav);
  padding-top: 90px;
  padding-bottom: 90px;
}

.contacts-reference_container {
  display: grid;
  gap: 2rem;
  max-width: 1200px;
  color: var(--hero-white);
  font-family: var(--font-rajdhani);

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    align-items: center;
  }
}

.contacts-reference__article {
  text-wrap: pretty;
  text-align: center;
  @media (min-width: 768px) {
    text-align: start;
  }

  .contacts-reference__article-title {
    font-size: clamp(24px, 2vw, 30px);
    letter-spacing: 0.2rem;
    font-weight: 700;
    line-height: 1.6;
  }

  .contacts-reference__article-body {
    font-family: var(--font-ubuntu);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
  }
}

.contacts-reference__link__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts-reference__link {
  width: 100%;
  background-color: var(--global-subtitle-color);
  color: var(--hero-white);
  padding: 15px 30px;
  border-radius: 6px;
  transition: background-color 0.2s ease-out;
  margin-bottom: 1px;

  .contacts-reference__link-text {
    font-size: clamp(13.5px, 1vw, 16px);
    text-wrap: nowrap;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-align: center;
  }
}

.contacts-reference__link:hover {
  background-color: var(--hero-green);
}

.discountdown {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-wrap: nowrap;
  color: var(--global-subtitle-color);
}

.countdown-span {
  color: brown;
  font-size: clamp(22px, 1.6vw, 24px);
}
