.api-testimonials {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 20px;
}

.api-testimonials-carousel {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.api-testimonials-carousel__inner {
  width: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.api-testimonials-carousel__item {
  width: 100%;
  flex: 0 0 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.api-testimonials-carousel__image {
  min-height: 50px;
  max-width: 100px;
}

.api-testimonials-carousel__text {
  font-size: clamp(16px, 1.3vw, 22px);
}

.api-testimonials-carousel__text-name {
  padding-left: 10px;
}

.api-testimonials-carousel__text-body {
  font-style: italic;
}

.api-testimonials-carousel__button {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 700;
  z-index: 1;
  text-align: center;
  transform: translateY(-50%);
  transition: background-color 0.3s;
  @media (max-width: 1000px) {
    display: none !important;
  }
}

.api-testimonials-carousel__button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel__button--prev {
  left: 10px;
}

.carousel__button--next {
  right: 10px;
}

.api-testimonials-carousel__indicators-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}

.api-testimonials-carousel__indicator {
  width: 12px;
  height: 12px;
  background-color: #cccccc;
  border-radius: 50%;
  border: none;
  transition: background-color 0.3s ease;
}

.api-testimonials-carousel__indicator.active {
  background-color: #333333;
}

.api-testimonials-carousel__indicator:hover {
  background-color: #999999;
  cursor: pointer;
}
