.contacts-reference {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--faq-nav);
  padding-top: 90px;
  padding-bottom: 90px;
}

.contacts-reference_container {
  display: grid;
  gap: 2rem;
  max-width: 1200px;
  color: var(--hero-white);
  font-family: var(--font-rajdhani);

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    align-items: center;
  }
}

.contacts-reference__article {
  text-wrap: pretty;
  text-align: center;
  @media (min-width: 768px) {
    text-align: start;
  }

  .contacts-reference__article-title {
    font-size: clamp(24px, 2vw, 30px);
    letter-spacing: 0.2rem;
    font-weight: 700;
    line-height: 1.6;
  }

  .contacts-reference__article-body {
    font-family: var(--font-ubuntu);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
  }
}

.contacts-reference__link__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts-reference__link {
  width: 100%;
  background-color: var(--global-subtitle-color);
  color: var(--hero-white);
  padding: 15px 30px;
  border-radius: 6px;
  border: none;
  transition: background-color 0.2s ease-out;
  margin-bottom: 1px;

  .contacts-reference__link-text {
    font-size: clamp(13.5px, 1vw, 16px);
    text-wrap: nowrap;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-align: center;
    font-family: var(--font-rajdhani);
  }
}

.contacts-reference__link:hover {
  background-color: var(--hero-green);
  cursor: pointer;
}

.discountdown {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-wrap: nowrap;
  color: var(--global-subtitle-color);
}

.countdown-span {
  color: brown;
  font-size: clamp(22px, 1.5vw, 25px);
  font-weight: bold;
}

.contacts-reference__dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 10px;
  padding: 2rem;
  max-width: 50ch;
  background-color: var(--hero-green);
  font-family: var(--font-rajdhani);
  width: 30%;
}

dialog[open] {
  animation: fadein 0.5s ease-in-out forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contacts-reference__dialog::backdrop {
  background: rgb(0, 0, 0, 0.5);
}

.contacts-reference__dialog-container {
}

.contacts-reference__dialog-header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  font-family: var(--font-ubuntu);
  font-weight: bold;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.contacts-reference__dialog-close {
  border: none;
  background: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
}
.contacts-reference__dialog-title {
}

.contacts-reference__dialog-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--font-rajdhani);
  font-size: 20px;
}

.contacts-reference__dialog-form-area {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 10px;
}

.contacts-reference__dialog-form-input {
  border-radius: 5px;
  border: none;
  height: 30px;
  margin-top: 5px;
  font-size: 18px;
}

.contacts-reference__dialog-form-input:focus {
  outline-color: var(--hero-emerald);
  outline-style: outset;
  outline-offset: 4px;
}

.contacts-reference__dialog-form-submit {
  width: max-content;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  border: none;
  font-family: var(--font-rajdhani);
  font-size: 18px;
}

.contacts-reference__dialog-form-submit:hover {
  background-color: var(--hero-emerald);
}
