.footer-top {
  background: #262626;
  padding: 80px 240px;
  display: flex;
  gap: 40px;
}
.footer__title {
  font-size: 24px;
  line-height: 1.6;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.footer__logotype {
  width: 145px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__section--about {
  width: calc((100% - 2 * 44px) / 3);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 15px;
  line-height: 1.6;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02rem;
  text-transform: none;
}
.footer__section--navigation {
  padding-top: 11px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer__link {
  font-size: 15px;
  line-height: 1.6;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02rem;
  text-transform: none;
  color: white;
}
.footer__section--services {
  padding-top: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 15px;
  line-height: 1.6;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02rem;
  text-transform: none;
  color: white;
}
.footer-address {
  margin-left: 26px;
  padding-top: 11px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 15px;
  line-height: 1.6;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02rem;
  text-transform: none;
  color: white;
}
.footer-address__nav {
  font-size: 15px;
  line-height: 1.6;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02rem;
  text-transform: none;
  color: white;
}
.footer-address__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-address__list-item {
  display: flex;
  gap: 10px;
}
.telephone {
  width: 45px;
}
.footer-address__list img {
  width: 40px;
  height: 40px;
}
.footer-address__list-tel {
  display: flex;
  gap: 12px;
}
.footer-address__list-phone {
  display: flex;
  gap: 12px;
}

.footer__bottom {
  background: #1a1a1a;
}
.footer__socials {
  display: flex;
  gap: 30px;
}
.footer__copy {
  font-size: 15px;
  line-height: 1.6;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02rem;
  text-transform: none;
  color: white;
}
.footer__bottom {
  display: flex;
  padding: 20px 240px;
  justify-content: space-between;
}
.footer-address h3{
    font-size: 24px;
    line-height: 1.6;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}