@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --hero-green: #98d2c3;
  --hero-white: #ffffff;
  scroll-behavior: smooth;
  --bg-footer: #262626;
  --bg-footer-top: #1a1a1a;
  --faq-bg: #f7f8f9;
  --faq-text: #21243d;
  --faq-nav: #8d99ff;
}
img {
  display: block;
  width: 100%;
}

iframe {
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
