@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --hero-green: #98d2c3;
  --hero-emerald: #87c8b7;
  --hero-white: #ffffff;
  --background-color-services: #f7f8f9;
  --global-title-color: rgb(102, 102, 102);
  --global-subtitle-color: rgb(33, 36, 61);
  --global-text-color: rgb(102, 102, 102);
  --carousel-services__content__title: #22243d;
  --top-industries__learn-more-background-color: #98d2c2;
  --top-industries__learn-more-background-color-hover: #8d99ff;
  --top-industries__learn-more-text-color: rgb(255, 255, 255);
  --reviews-background: #f7f8f9;
  --reviews-arrows-background: rgb(33, 36, 61);
  --reviews-quotes-color: #d3d3d3;
  --reviews-arrows-color: #fff;
  --process-list-marker-color: #8d99ff;
  --bg-footer: #262626;
  --bg-footer-top: #1a1a1a;
  --faq-bg: #f7f8f9;
  --faq-text: #21243d;
  --faq-nav: #8d99ff;
  --thema-light: #ffffff;
  --thema-dark: #000000;
  --thema-logo: #8d99ff;
  --thema-div: #f0f0f0;
  scroll-behavior: smooth;
}
img {
  display: block;
  width: 100%;
}

iframe {
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
