.testimonials {
  background-color: var(--testimonials-background);
  padding: 90px 0;
}
.testimonials__all-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.testimonials__arrow {
  background-color: var(--testimonials-arrows-background);
  color: var(--testimonials-arrows-color);
  border-radius: 50%;
  font-size: 0.75rem;
  text-align: center;
  padding: 10px;

  &:hover {
    cursor: pointer;
  }
}
.testimonials__articles {
  display: flex;
  text-align: center;
  color: var(--global-subtitle-color);
  transition: transform 0.5s ease-in-out;
}
.testimonials__carousel-wrapper {
  width: 100%;
  max-width: 50vh;
  overflow: hidden;
}
.testimonials__item {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 50vh;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.1rem;
  letter-spacing: 0.15rem;
}
.testimonials__arrow--left {
  padding-left: 10px;
}
.testimonials__arrow--right {
  padding-right: 10px;
}
.testimonials__text {
  padding: 0 0 50px 0;
}
.testimonials__author {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.75rem;
  line-height: 0.75rem;
  letter-spacing: 0.075rem;
}
.testimonials__author-title {
  font-weight: 400;
}
.testimonials__carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 50px 0 0 0;
}
.testimonials__indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--testimonials-quotes-color);
  border: none;

  &:hover {
    cursor: pointer;
  }
}
.testimonials__indicator-active {
  background-color: var(--global-subtitle-color);
}
