.faq {
  background: var(--faq-bg);
}
.faq-container {
  display: flex;
  padding: 120px 0;
  gap: 40px;
}
.questions__title {
  font-size: 13px;
  line-height: 1;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02rem;
  color: var(--faq-text);
  text-transform: uppercase;
}
.questions__label {
  color: var(--faq-text);
  font-size: 50px;
  line-height: 1.2;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02rem;
  margin: 20px 0;
}
.questions__text {
  margin-bottom: 16px;
  font-size: 17px;
  line-height: 1.6;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02rem;
  color: var(--faq-text);
  text-transform: none;
}
.questions__nav {
  font-style: normal;
  color: var(--faq-nav);
  text-decoration: underline;
  font-weight: bold;
}
.questions__list-item {
  display: flex;
  gap: 10px;
  align-items: center;
}
.questions__list-item svg {
  fill: var(--faq-nav);
}
.questions__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 20px;
}
.questions__text {
  color: var(--faq-text);
  font-size: 18px;
  line-height: 1.4;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02rem;
  text-transform: none;
}
.accordion__header {
  font-size: 24px;
  line-height: 1.6;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}
.accordion__text {
  font-size: 17px;
  line-height: 1.6;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02rem;
  color: var(--faq-text);
  text-transform: none;
}
/* .accordion__content {
    display: none;
  }
  
  .accordion__content.active {
    display: block;
  } */

.accordion__header::after {
  content: "►";
  float: right;
  font-size: 18px;
}

.accordion__header.active::after {
  content: "▲";
}
.accordion__item {
  border-bottom: 0.5px solid grey;
}
