.reviews {
  background-color: var(--reviews-background);
  padding: 90px 0;
}
.reviews__all-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.reviews__arrow {
  background-color: var(--reviews-arrows-background);
  color: var(--reviews-arrows-color);
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  padding: 10px;
}
.reviews__review-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  font-family: "Rajdhani", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  letter-spacing: 2.4px;
}
.reviews__articles {
  display: flex;
  flex-direction: column;
  color: var(--global-subtitle-color);
}
.reviews__author {
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
  line-height: 12px;
  letter-spacing: 1.2px;
}
.reviews__review-item p {
  text-align: center;
}
.reviews__author-title {
  font-weight: 400;
}
